 <!-- <p> Titulo: {{filme.titulo | uppercase}} </p>
<p> Rating: {{filme.estrelas | number : '1.1-2' }} </p>
<p> preço: {{filme.precoAluguel | currency :'BRL' }} </p>
<p> Data do Lançamento: {{filme.dataLancamento | date:'fullDate' | uppercase }} </p>
<hr> <br>

<ul>
  <li *ngFor="let compra of compras">
   <p >Produto: <b>{{compra.produto |uppercase}} </b></p>
    <p>Valor: {{compra.valor | currency: 'BRL'}} </p>
    <p>Qtd: {{compra.qtd | number }} </p>
    <p>Peso: {{compra.peso | number:'1.1-2'}} Kg </p> -->
    <!--<p>Peso: {{compra.peso > 0 ? (compra.peso |number: '1.1-2')+' KG' : 'Sem peso' }} </p>
    <p> Peso: {{getPesoFormatado(compra.peso)}} </p> -->

   <!-- <p>Data: {{compra.data | date:' EEEE, dd \'de\' MMMM \'de\' YYYY, \'as\' HH:mm '}} </p>

   <p> Data:{{compra.data | date: 'fullDate'}}; as {{compra.data | date: 'HH:mm'}} </p>
    
  </li>
</ul>
 -->


