<header class ="header">

  <h2> Welcome Header's Hama :)! </h2>
  
  <ul class="nav-bar-list"> 
  
     <!--<li>tem essas 2 opções, a opção de cima e a comentada
      <a routerLink=" " routerLinkActive="ativado" [routerLinkActiveOptions]="{exact:true}">Home </a>
    </li>-->
  
    <li> 
      <a routerLink="home" routerLinkActive="ativado">Home </a>
    </li>
    <li>
      <a routerLink="extrato" routerLinkActive="ativado"> Extrato</a>
    </li>  
    <li>
      <a routerLink="login" routerLinkActive="ativado">Login </a>  
    </li>
  </ul>
  
  </header>